@tailwind base;
html {
  scroll-behavior: smooth;
}
@tailwind components;
@tailwind utilities;







/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 3px; 
  width: 3px;/* Set the height to match the vertical scrollbar */
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(225, 29, 72);
  border-radius: 10px;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}




*{
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #F5F5F5;
    scroll-behavior: smooth;
}



.primary-dark{
background-color:rgb(225,29,72);
}

.primary-light{
  background-color:rgb(244,63,94);
}

.primary-dark-text{
  color:rgb(225,29,72);
  }
  
  .primary-light-text{
    color:rgb(244,63,94);
  }
  



input,select{
  outline: none;
}
.batch_heart{
  background: tomato;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: -24%;
  top: -9%;
  cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.return-home-link:hover{
  color: rgb(38, 91, 206);
}


.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}
.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.btn {
  margin-top: 5px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn:hover {
  border: 1px solid #2d79f3;
  
}




@media only screen and (max-width: 600px) {
  .dropdown .btn-dropdown{
    border: 1px solid black;
    margin-left: 16px;
    margin-bottom: 5px;
    border-radius: 4px;
    text-align: left;
    color: white ;
    background-color: black;
    font-weight: 400;
    font-size: 16px;
    width: 150px;
    height: 50px;
  }
  .btn-dropdowned{
    margin-left: 16px !important;
  }
}



.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: black;
  letter-spacing: 0.2em;
  margin-bottom: 1em;
}

.loading {
  display: flex;
  width: 5em;
  align-items: center;
  justify-content: center;
}

.load {
  width: 23px;
  height: 3px;
  background-color: rgb(237, 28, 76);
  animation: 1s move_5011 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes move_5011 {
  0% {
    width: 0.2em;
  }

  25% {
    width: 0.7em;
  }

  50% {
    width: 1.5em;
  }

  100% {
    width: 0.2em;
  }
}




.moving-heading {
  
  top: 0px; /* Adjust positioning as needed */
  width: 100%;
height: 5px !important;
  padding: 0px 20px;
 
  color: rgb(0, 0, 0);
  font-size: 14px;
}




.btnsol {
  position: relative;
  
  
  color: #fff;
  cursor: pointer;
  background-color: #E11D48;
  transition: all 0.2s ease;
}

.btnsol:active {
  transform: scale(0.96);
}

.btnsol:before,
.btnsol:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.btnsol:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #E11D48 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #E11D48 20%, transparent 30%),
    radial-gradient(circle, #E11D48 20%, transparent 20%),
    radial-gradient(circle, #E11D48 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #E11D48 15%, transparent 20%),
    radial-gradient(circle, #E11D48 20%, transparent 20%),
    radial-gradient(circle, #E11D48 20%, transparent 20%),
    radial-gradient(circle, #E11D48 20%, transparent 20%),
    radial-gradient(circle, #E11D48 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.btnsol:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #E11D48 20%, transparent 20%),
    radial-gradient(circle, #E11D48 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #E11D48 15%, transparent 20%),
    radial-gradient(circle, #E11D48 20%, transparent 20%),
    radial-gradient(circle, #E11D48 20%, transparent 20%),
    radial-gradient(circle, #E11D48 20%, transparent 20%),
    radial-gradient(circle, #E11D48 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}





/* .loader::before {
  content: '';
 
  width: 76px;
  height: 76px;
  border: 8px double #000;
  border-radius: 50%;
  left: 35px;
  top: 10px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#E11D48 64px, transparent 0), linear-gradient(#E11D48 66px, transparent 0), radial-gradient(circle 4px, #E11D48 100%, transparent 0);
  background-size: 60px 1px , 1px 60px, 7px 7px;
  background-position: center center;
  box-sizing: border-box;
  animation: bike 0.4s linear infinite;
}

.loader::before {
  display:inline-block;
  /* left: 270px;
  top: 550px; */
/* }

@keyframes bike {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}  */ 


.loader {
}

.wheel {
  fill: rgb(128, 128, 128);
  font-size: 100px;
  width: 100px;
  height: 100px;
  border-radius: 6em;
  text-align: center;
  animation: rolling 1s linear infinite;
}

#rim {
  fill: rgb(126, 126, 126);
}

#tire {
  fill: rgb(55, 55, 55);
}



@keyframes rolling {
  to {
    transform: rotate(360deg);
  }
}

@keyframes road-move {
  from {
    transform: translateX(140%);
  }

  to {
    transform: translateX(100%);
  }
}




.butto{
  position: relative;
  width: 160px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background-color: #E11D48;
  overflow: hidden;
}

.butto, .butto__icon, .butto__text {
  transition: all 0.3s;
}

.butto .butto__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.butto .butto__icon {
  position: absolute;
  transform: translateX(122px);
  height: 100%;
  width: 39px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.butto .svg {
  width: 20px;
  fill: #fff;
}

.butto:hover {
  background: #E4355B;
}

.butto:hover .butto__text {
  color: transparent;
}

.butto:hover .butto__icon {
  width: 160px;
  transform: translateX(0);
}

.butto:active .butto__icon {
  background-color: #E11D48;
}

.butto:active {
  border: 1px solid #E11D48;
}

.gbtn{

  
  background: #20262f;
  border: none;
  padding: 10px 20px;
 color: white;
  font-size: 15px;
  font-weight: 600;
  width: 100px;
  text-transform: uppercase;

 
}

.Btn-payy {
  height: 40px;
  width: 130px;
  background: #F2F2F2;
  border-radius: 5px;
  padding: 0;
  border: 1px solid black;
  outline: none;
}

.Btn-payy:hover{
  background-color: rgb(49, 49, 45);

}

.Btn-payy svg {
  height: 18px;
}

.Btn-pay {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: 1px solid black;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn-pay::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn-pay:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn-pay:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}



.form {
  background-color: #fff;
  box-shadow: 0 10px 60px rgb(218, 229, 255);
  border: 1px solid rgb(159, 159, 160);
  border-radius: 20px;
  padding: 2rem .7rem .7rem .7rem;
  text-align: center;
  font-size: 1.125rem;
  max-width: 320px;
}

.form-title {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
}

.form-paragraph {
  margin-top: 10px;
  font-size: 0.9375rem;
  color: rgb(105, 105, 105);
}

.drop-container {
  background-color: #fff;
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 2.1875rem;
  border-radius: 10px;
  border: 2px dashed rgb(0, 0, 0);
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: rgba(8, 223, 44, 0.164);
  border-color: rgba(17, 17, 17, 0.616);
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

#file-input {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 2px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(8, 8, 8, 0.288);
}

#file-input::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #2d3541;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

#file-input::file-selector-button:hover {
  background:black;
}

.loaderrr {
  width: 40em;
  height: 6px;
  border-radius: 8px;
  background-color: #e11d4742;
}

.loaderrr div {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: #E11D48;
  animation: width7435 5s linear infinite;
  transition: all;
}

@keyframes width7435 {
  from {
    /*width: 0;*/
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}



.slick-container {
  margin: 0 auto;
  margin-top: 5rem;
  width: 80vw;
  max-width: 800px;
  text-align: center;
}
.slick-slide img {
  display: inline-block;
}



h2 {
  
  margin-top: 2rem;
}

.chatBtn {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #E51B23, #FF2525,#121004);
  cursor: pointer;
  padding-top: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
  position: relative;
  background-size: 300%;
  background-position: left;
  transition-duration: 1s;
}

.tooltip {
  position: absolute;
  top: -40px;
  opacity: 0;
  background-color: #E11D48;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .5s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.chatBtn:hover .tooltip {
  opacity: 1;
  transition-duration: .5s;
}

.chatBtn:hover {
  background-position: right;
  transition-duration: 1s;
}

